#titulo {
    color: brown;
    font-size: 45px;
}

#frutas {
    color: royalblue;
    font-size: 20px;
    
}

#carnes {
    color: orangered;
    font-size: 20px;
}

#verduras {
    color: green;
    font-size: 20px;
}
