
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

li{
    list-style: none;
}

header {
    height: 10vh;
    background-color: brown;
}

main{
    height: 80vh;
}

footer {
    height: 10vh;
    background-color: orangered;
}