*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    html {
        font-size: 62.5%;
    }

    body {
        font-size: 1.6rem;
    }

    .container {
        border:.3rem solid black ;
        display: flex;/* ahora las 6 cajas van de costado*/
        flex-direction: column;/* para que vuelva a estar en vertical*/
    }

    .box {
        width: 10rem;
        height: 10rem;
    }

    .box1 {
        background-color: yellow;
    }

    .box2 {
        background-color: orange;
    }

    .box3 {
        background-color: orangered;
    }

    .box4 {
        background-color: grey;
    }

    .box5 {
        background-color: cyan;
    }

    .box6 {
        background-color: green;
    }