*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {font-size: 62.5%;}

body{font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {font-size: 1.8rem;}
h1{font-size: 3rem;}
h2{font-size: 2.6rem;}
h3{font-size: 2rem;}
ul{list-style: none;}
li{font-size: 1.5rem;}

button{
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #256D85;
}

button:hover{
    background-color: #2B4865;
}

.container{
    max-width:1000px;
    margin: auto;
}

header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    margin:0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 2.2rem;
}

header .container{
 display: flex;
 flex-direction: column;
 align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
     rgba(0,0,0,0.5),
     rgba(0,0,0,0.5))
    ,url("./img/hero\ chica.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
