*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* COLORES img MIC HERO
#593B54 morado oscuro
#734D70 morado suave
#5A4073 morado
#382F73  fucsia/azul
#F2F2F2   blanco
*/
html {font-size: 62.5%;
scroll-behavior: smooth;}

body{font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {font-size: 1.8rem;}
h1{font-size: 3.2rem;}
h2{font-size: 2.8rem;
margin-bottom: 2rem;}
h3{font-size: 2.2rem;
    margin-bottom: 1rem;}
ul{list-style: none;}
li{font-size: 1.5rem;}

button{
    font-size: 3.2vw;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #256D85;
}

button:hover{
    background-color: #2B4865;
}

.container{
    max-width:1000px;
    margin: auto;
}


.color-acento{
    color:#256D85;
}

header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    margin:0;
    padding:15px 30px 8px 30px;
    font-weight: bold;
    color: #256D85;
    font-size: 3rem;
}

header .container{
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 15vh;
}

header nav{
    display: flex;
    flex-direction:initial;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
}

header a:hover{
    color: #256D85;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-image: linear-gradient(
        0deg,
     rgba(0,0,0,0.5),
     rgba(0,0,0,0.5))
    ,url("./img/hero-mediana.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.7rem;
}

/*#somos-proya{

}*/

#somos-proya .container{
 
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
margin-bottom: 1rem;
height: 100vh;

}

#nuestros-servicios{
    background-color: rgba(30, 30, 30);
    color: white;
    text-align: center;
   
}

#nuestros-servicios .container{
padding: 8rem 1.5rem;
height: 100vh;


}

#nuestros-servicios h2{
    margin-top: -6rem;
    margin-bottom: 1rem;
    font-size: 3rem;
}
#nuestros-servicios p{
    display: none;
}

#nuestros-servicios .carta{
    background-size: cover;
    background-position: center center;
    padding: 4rem;
    margin: 2rem;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
     rgba(0,0,0,0.5),
     rgba(0,0,0,0.5))
    ,url("./img/Sonido-mediana.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
     rgba(0,0,0,0.5),
     rgba(0,0,0,0.5))
    ,url("./img/front-mediana.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
     rgba(0,0,0,0.5),
     rgba(0,0,0,0.5))
    ,url("./img/electricidad-mediana.jpg");  
}


#caracteristicas .container{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
height: 100vh;

}
.clases {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: -6rem;
    margin-bottom: 4rem;
    font-size: 4rem;
    
}
#caracteristicas li {
    margin: 15px 0px;
    font-weight: bold; 
}

#final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 93vh;
    background-color:rgba(30, 30, 30);
    color: white;
  
}

#final h2{
    font-size: 7.5vw;
}

#final button {
    font-size: 4vw;
}

footer{
    background-color: rgb(230, 230, 230);
}

footer p{
    margin: 0;
    padding: 1.2rem;
    color: rgb(100, 100, 100);
}
footer .container{
height: 7vh;
display: flex;
justify-content: center;
align-items: flex-end;
}






@media (min-width: 780px){
   header {
    position: fixed;
    width: 100%;
   }
    header .container{
    display: flex;
    justify-content: space-evenly;

   } 

   header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 2rem;
   }


   #hero h1{
    font-size: 5rem;
   }
   #somos-proya .container{
    display: flex;
    flex-direction: row;
   }

   #somos-proya .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 5rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

   
   #somos-proya .img-container{
    background-image: url("./img/Chris2.png");  
    background-size:cover ;
    background-position: center center;
    height: 400px;
    width: 400px;
   }


#nuestros-servicios .programas{
    display: flex;
justify-content: center;
}

#nuestros-servicios p{
    display: block;
    margin-bottom: 5rem;
}

#nuestros-servicios h2{
    font-size: 4rem;
    margin-top: -3rem;
}

#nuestros-servicios h3{
    margin-top: 0px;
    margin-bottom: 5rem;
}

#nuestros-servicios .carta{
    padding: 2rem;
    margin-top: 3rem;
    background-size: 100% 120px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: rgba(50, 50, 50, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}


.carta:first-child{
    background-image: linear-gradient(
        0deg,
     rgba(0,0,0,0.5),
     rgba(0,0,0,0.5))
    ,url("./img/Sonido-grande-c.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
     rgba(0,0,0,0.5),
     rgba(0,0,0,0.5))
    ,url("./img/front-grande-c.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
     rgba(0,0,0,0.5),
     rgba(0,0,0,0.5))
    ,url("./img/electricidad-grande-c.jpg");  
}

#caracteristicas{
    background-image: url("./img/stream.jpg");
    background-repeat: no-repeat;
    background-size: 400px;
    
background-position: calc(100vw - 480px) 170px ;
}

#caracteristicas .container{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

#caracteristicas ul {
    margin-left: -50rem;
}

footer .container{
    justify-content: flex-end;
}


}

@media (min-width: 1100px){
    #caracteristicas{
        background-position-x:calc(100vw - 600px);
    }
}
